@font-face {
  font-family: 'Futura LT';
  font-style: normal;
  font-weight: 500;
  src: url('/FuturaLT.otf') format('otf');
}
@font-face {
  font-family: 'Futura LT';
  font-style: normal;
  font-weight: 300; /* or light */
  src: url('/FuturaLT-Light.otf') format('otf');
}
@font-face {
  font-family: 'Futura LT';
  font-style: normal;
  font-weight: bold; /* or 700 */
  src: url('/FuturaLT-Bold.otf') format('otf');
}
.futura {
  font-family: 'Futura LT';
}

@font-face {
  font-family: 'Din Condensed';
  font-style: normal;
  font-weight: bold;
  src: url('/DIN_Condensed_Bold.ttf') format('ttf');
}
.din {
  font-family: 'Din Condensed';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
