@font-face {
  font-family: 'Futura LT';
  font-style: normal;
  font-weight: normal; /* or 400 */
  src: url('/FuturaLT.otf') format('otf');
}
@font-face {
  font-family: 'Futura LT Light';
  font-style: normal;
  font-weight: 300; /* or light */
  src: url('/FuturaLT-Light.otf') format('otf');
}
@font-face {
  font-family: 'Futura LT Bold';
  font-style: normal;
  font-weight: bold; /* or 700 */
  src: url('/FuturaLT-Bold.otf') format('otf');
}
.futura {
  font-family: 'Futura LT';
}
.futura {
  font-family: 'Futura LT Bold';
}
.futura {
  font-family: 'Futura LT Light';
}

@font-face {
  font-family: 'Din Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/DIN_Condensed_Bold.ttf') format('ttf');
}
.din-bold {
  font-family: 'Din Bold';
}
